* {
    color: rgb(3, 3, 3);
    font-family: 'Helvetica';
    background-color: rgb(200, 199, 176);
}


h1 {
    text-align: center;
    background-color: #3a4e4b;
    padding: 10px;
    color: rgb(156, 177, 159);
    margin-top: 0px;
}

h1 :last-child{
    margin-bottom: 0px;
}

section {
    width: 960px;
    margin: auto;
    background-color: rgb(200, 199, 176);
}

p {
    width: 960px;
    margin: auto;
    color: black;
    margin-bottom: 20px;
}


img {
    width: 240px;
    margin: 25px;
}